*.pydevproject
.gradle
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.loadpath
.idea
*~
/src/sdrdab-gui/ui_*.h

# varoius IDE tempfiles
.metadata
.settings/
.classpath
.buildpath
.target
.texlipse
.sublime-project.sublime-workspace
cmake-build-debug/
.cproject
.atom-build.json
.externalToolBuilders/
.gitlab-ci.yml
.project
.sublime-project

# CMake build dir
build/

# Doxygen
doc/

# Matlab
matlab/**/*.aac

# Data files
data/


# Debian package and package-building directory
/package/
sdrdab-decoder*.deb
